@import "tailwindcss";

html,
body,
#root {
  min-width: 1280px;
  min-height: 100vh;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: 'Orbitron', sans-serif;
  overflow-x: auto;
}